
/* Fuente de Titulo */
@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Snowburst+One&display=swap');
/* Fuente de textos */

@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Snowburst+One&display=swap');


/* Colores */
:root{
    --light: #F7EFDE;
    --darkgrey: #7e7260bd;
    --tinto: #511730f1;
    --tintoDark: #2e111ee5;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Rosario", sans-serif;
}
body{
    background-image: linear-gradient(to right bottom,var(--light), var(--darkgrey));
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
}
.container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header{
    width: 90%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-image: linear-gradient(to right bottom,var(--tintoDark), var(--tinto));
    border: 1px solid black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;


}
header >nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
header >nav > a{
   color: var(--light);
   text-decoration: none;
}
a{
    cursor: pointer;
    color: var(--light);
    font-size: 1.3em;
}
.logo{
    width: 40px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
    gap: 5em;
    padding: 2em 2em 2em;
}
/* Primera seccion */
.inicio{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title{
    width: 50%;
}
h1{
    font-size: 4em;
    font-family: "Snowburst One", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
}
.title >p{
    font-size: 1.2em;
    width: 70%;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 600;
}
/* Seccion 2 */
.seccion2{
    width: 80%;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}
.seccion2 > p{
    font-size: 1.2em;
    width: 80%;

}
.paisaje{
    width: 80%;
}
/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    padding: 1em;
    margin-top: 2em;
    border: 1px inset var(--tintoDark);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.footer_inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.footer_inicio > a> h4{
    color: var(--tintoDark);
}
.footer_contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.footer_contacto> a > h4{
    color: var(--tintoDark);
}
.footer_icon{
    width: 30px;
}
/* Pages */
/* Vinoteca */
/* Titulo de páginas secundarias */
.title_pages{
    transform: translateX(-300px);
    font-size: 3em;
    color: var(--tinto);
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
    justify-items: center;
    align-items: flex-start;
    margin: 3em 0;
   
}
.card{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    box-shadow: 1px 1px 5px var(--tintoDark);
}
.card > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}
.card > div > img{
    height: 200px;
}
.card > h3{
    font-size: 2em;
    color: var(--tintoDark);
    border-bottom: .5px solid var(--tintoDark);

}
.card > div > p{
    font-size: 1.2em;
    padding: 1em;
    border-left: 1px inset var(--tinto);

}
.card > div > img{
    max-height: 80%;

}
/* Page Premios */
.medallero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
    justify-items: center;
    align-items: flex-start;
}
.medallero_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
    border: 1px inset var(--tintoDark);
    border-radius: 10px;
}
.medallero_item > .item_premio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.medallero_item > .item_premio > img{
    height: 100px;
}
.medallero_item > p{
    font-size: 1.1em;
}
/* Pages Bio */
.bio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.bio > .bio_grupo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.bio > .bio_grupo > p{
    width: 30%;
    font-size: 1.2em;
}
.bio > .bio_grupo > img{
    width: 30%;
    transform: translateY(-3em);
}

.bio > .bio_bodega{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    color: var(--tintoDark);
}
.bio > .bio_bodega > p{
    width: 50%;
    font-size: 1.2em;
    font-weight: 600;

}
.bio > .bio_bodega > h4{
    /* width: 50%; */
    font-size: 2em;

}
/* Pages Contacto */
.contacto_icons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
}
.contacto_icons > h4{
    font-size: 2em;
    color: var(--tinto);
}
.contacto_icons > ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    list-style: none;
    padding: 1em;
    border-left: 1px solid var(--tintoDark);
}
.contacto_icons > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    list-style: none;
    color: var(--tinto);
}
.contacto_imgs{
    width: 30px;
}
.contacto > .mensaje{
    /* width: 80%; */
    border: 1px solid var(--tintoDark);
    border-radius: 10px ;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.mensaje > textarea{
    width: 80%;
    height: 100px;
}
/* Mediaqueries Mobile */
/*Mobile */
@media only screen and (max-width:468px){
    .container{
        overflow-x: hidden;
    }
    .container > nav > ul{
        display: none;
    }
    .container > header > ul{
        flex-direction: column;
        gap: 1em;
    }
    .container > main > .inicio{
        /* flex-direction: column; */
        flex-direction: column-reverse;
    }
    .container > main > .inicio > .title{
        width: 100%;

    }
}