
/* Fuente de Titulo */
@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Snowburst+One&display=swap');


/* Colores */
:root{
    --light: #F7EFDE;
    --pink: #c968b6;
    --darkgrey: #7e7260bd;
    --tinto: #511730;
    --tintoDark: #2e111e;
}

/* Estructura principal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Rosario", serif;
    font-weight: 400;
}
/*  Fuente de todos los párrafos */
p{
    font-size: 1.2em;
    font-style: italic;
    text-wrap: balance;
}
.body{
    margin: 0 auto;
    font-weight: 600;
}

.contenedor{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

/* Header */
header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background-image: linear-gradient(to right bottom,var(--tintoDark), var(--tinto));
    border: 1px inset var(--tintoDark);
    z-index: 10;
}
header>ul{
    margin-bottom: 0;
}
header >.nav_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    list-style: none;
}
.nav_links a{
    text-decoration: none;
    color: var(--light);
    font-size: 1.3em;    
}
.nav_links a:hover{
    color: var(--pink);
}
.nav_links > li > img{
    width: 30px;
    height: 20px;
    transform: translate(50px, 10px);
}
.hamburg{
    display: none;
}
.cerrar{
    display: none;
}
.logo{
    width: 40px;
}
/* Menú principal */
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
    gap: 3em;
}
/* Primera seccion */
/* Portada de todas las páginas secundarias*/
.portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.portada>img{
    width: 110%;
    transform: translateY(-1px);
}
.portada > h1{
    font-size: 4em;
    letter-spacing: 5px;
    font-family: 'Snowburst One';
    font-weight: 600 ;
    transform: translateY(-300px);
    color: white;
    padding: 5px;
}
.portada> h2{
    font-size: 5em;
    letter-spacing: 10px;
    transform: translateY(-300px);
    color: white;
    padding: 5px;
    border-left: 3px solid white;
}
/*  --  -- Slider --  --  */
.portada > .slider{
    /* width: 115%; */
    background-color: #511730;
    transform: translateY(-1em);
}


/* Seccion 2 */
.seccion2{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.intro{
    width: 50%;
}
.intro >p{
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 600;
}
/* Index 3 Sección */

.seccion3{
    width: 60%;
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    gap: 3em;
    padding: 4em 0;
}
.seccion3_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}
.seccion3_item > p{
    width: 40%;
}
.seccion3_item > img{
    width: 50%;
}


/* Footer */
footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
    margin-top: 2em;
    background-color:var(--tinto);
    color: white;

}
.footer_inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.footer_title{
    font-size: 2.5em;
    color: white;
}
.footer_contacto{
    align-items: end;
    display: flex;
    gap: 1em;
}
.footer_icon{
    width: 30px;
}


/* ----------- Pages ---------- */
/* Vinoteca */



/* Tarjetas de Variedad de Vinos */
.cards{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}
.card{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4em;
    border: 1px solid var(--tinto);
    gap: 2em;

}
.card > div{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2em;
 
}
.card > div > p{
    width: 80%;
}
.card > div > h3{
    font-size: 1.5em;
    transform: translateX(20px);
}
.card > div > a{
    align-self: end;
    color: var(--tintoDark);
}
/* --Modal-- */
.modal{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s .7s;
    --transform: translateY(-100vh);
    --transition: transform .5s;
}  
.modal_container{
    display: grid;
    gap: 1em;
    place-items: center;
    margin: auto;
    width: 30%;
    background-color: white;
    border-radius: 15px;
    padding: 2em .5em;
    transform: var(--transform);
    transition: var(--transition);
}
.modal_p{
    width: 70%;
    margin-bottom: 1em;
}
.modal_cerrar{
    text-decoration: none;
    padding: .5em 1.5em;
    background-color: var(--tinto);
    color: white;
    border-radius: 15px;
}
.modal_cerrar:hover{
    color: var(--tinto);
    background-color: white;
    border: 1px solid var(--tinto);
    transition: background-color .3s;
}
.modal_show{
    opacity: 1;
    pointer-events: unset;
    z-index: 15;
    transition: opacity .5s;
    --transform: translateY(0);
    --transition: transform .5s .3s;
}

/* Page Premios */
.premios{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.premios_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.premios_item >p{
    width: 75%;
    text-align: center;
}


/* Pages Bio */

.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}
.bio_item>img{
    width: 1200px;
}
.bio_item >p{
    position: absolute;
    max-width: 50%;;
    transform: translate(50px,-430px);
    color: white;
    font-size: 1.8em;
    font-style: italic;
    letter-spacing: 2px;
}



/* Pages Contacto */

.contacto{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 1em;
}
.contacto> img{
    border-radius: 15px;
}
.contacto> form{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1em;
    border: 1px solid var(--tinto);
    border-radius: 15px;
    margin-right: 3.7em;
}
.contacto> form> p, input, textarea{
    width: 100%;
    border: 1px solid var(--tinto);
    padding: 1em;
    border-radius: 15px;
}
.contacto > form > textarea{
    height: 300px;
}
.contacto> form> button{
    background-color: var(--tinto);
    padding: 1em 3em;
    border-radius: 15px;
    color: white;
    margin-top: 4em;
    cursor: pointer;
}
/* Mediaqueries Mobile */
/*Mobile*/
@media only screen and (max-width:468px){
    .contenedor{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        /* Header */
    header > .nav_links{
        display: none;
    }
    header > .nav_links > li{
        margin-bottom: 1em;
    }
    header > .hamburg{
        display: block;
        cursor: pointer;
    }
        /* Index */
        main{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 2em;
            background-color: #2e111e;
        }
    /* Slider */
    .portada{
        text-align: center;
    }
    
    .portada> .slider{
        width: 500px;
    }
    .portada > h1{
        font-size: 2em;
        letter-spacing: 0;
        transform: translateY(-150px);
    }

        /* Footer */

}

